{{ define "main" }}
  {{- range .Paginator.Pages }}
    <div class="leftHR"><img src="{{ "images/hr.gif" | relURL }}" width="462" height="1" border="0"></div>
    <a href="{{ .Permalink }}" class="postLink">{{ .Title }}</a>
    <h2>{{ if not .Date.IsZero }}{{ .Date.Format "January 2, 2006" }}{{ end }}{{ with .Params.author }}{{ if not $.Date.IsZero }} - {{ end }}{{ . }}{{ end }}</h2>
    <br>
    <p>
      {{ if .Truncated }}
        {{ .Summary }}
        <br>
        <a href="{{ .Permalink }}" class="standardLink">Read more...</a>
      {{ else }}
        {{ .Content }}
      {{ end }}
    </p>
    <br><br>
  {{- end }}

  <!-- Pagination -->
  {{ template "_internal/pagination.html" . }}
{{ end }}
